.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 10px;
}

.list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}